# Grafana Datasources Configuration - NPR Environment
# These override or extend shared datasources for NPR
# Set use_vault: true to fetch credentials from HashiCorp Vault

datasources:
  # Main Organization Datasources (default org)
  - name: "My Prometheus"
    type: "prometheus"
    uid: "prometheus-main"
    url: "http://prometheus:9090"
    org: "Main Organization"
    is_default: true
    http_headers:
      X-Custom-Header: "my-value"
    json_data:
      httpMethod: "POST"
      timeInterval: "15s"
      queryTimeout: "60s"

  - name: "Loki"
    type: "loki"
    uid: "loki"
    url: "http://loki-npr.example.com:3100"
    org: "Main Organization"
    is_default: false
    access_mode: "proxy"
    json_data:
      maxLines: 1000

  - name: "InfluxDB"
    type: "influxdb"
    uid: "influxdb"
    url: "http://influxdb-npr.example.com:8086"
    org: "Main Organization"
    is_default: false
    access_mode: "proxy"
    use_vault: true
    json_data:
      version: "Flux"
      organization: "my-org"
      defaultBucket: "my-bucket"

  - name: "PostgreSQL"
    type: "postgres"
    uid: "postgres"
    url: "postgres-npr.example.com:5432"
    org: "Main Organization"
    is_default: false
    use_vault: true
    json_data:
      database: "grafana_npr"
      sslmode: "disable"
      maxOpenConns: 50
      maxIdleConns: 50
      connMaxLifetime: 14400

  - name: "Elasticsearch"
    type: "elasticsearch"
    uid: "elasticsearch"
    url: "http://elasticsearch-npr.example.com:9200"
    org: "Main Organization"
    is_default: false
    access_mode: "proxy"
    json_data:
      esVersion: "8.0.0"
      timeField: "@timestamp"
      logMessageField: "message"
      logLevelField: "level"

  - name: "Tempo"
    type: "tempo"
    uid: "tempo"
    url: "http://tempo-npr.example.com:3200"
    org: "Main Organization"
    is_default: false
    access_mode: "proxy"
    json_data:
      tracesToLogsV2:
        datasourceUid: "loki"
        spanStartTimeShift: "-1h"
        spanEndTimeShift: "1h"
        filterByTraceID: true
        filterBySpanID: true
      tracesToMetrics:
        datasourceUid: "prometheus"
        spanStartTimeShift: "-1h"
        spanEndTimeShift: "1h"
      serviceMap:
        datasourceUid: "prometheus"
      nodeGraph:
        enabled: true

  # NPR-specific: Debug datasource (only in NPR)
  - name: "Debug-Prometheus"
    type: "prometheus"
    uid: "debug-prometheus"
    url: "http://prometheus-debug-npr.example.com:9090"
    org: "Platform Team"
    is_default: false
    access_mode: "proxy"
    json_data:
      httpMethod: "POST"
      timeInterval: "5s"

